.Address{
    width: 100%;
    height: max-content;
    min-height: 30rem;
    
    
    .Address__container{
        width: 100%;
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        padding: 3rem;
        box-shadow: 0 0 10px rgba(0,0,0,0.15);
        
        form{
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-around;
          position: relative;
          
          .Address__left{
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            label{
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: row;
                font-size: 1.3rem;
                font-weight: 600;
                gap: 2rem;
              }
              select{
                align-self: flex-start;
                width: 300px;
                margin-top: 1rem;
                outline: none;
                border: none;
                height: 40px;
                background-color:var(--primary-color);
                color: var(--secondary-color);
                font-size: 1.2rem;
              }
        }
            

            .Address__right{
              flex: 2;
              width: 100%;
              margin-left: 3rem;
              
              label {
              width: 100%;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 0.5rem;
                justify-content: center;
                font-size: 1.4rem;
                font-weight: 600;
                color: var(--secondary-color);
                width: 100%;
                
                input {
                background-color: white;
                border: none;
                border-radius: 12px;
                box-shadow: 1px 8px 15px rgba(0, 0, 0, 0.1);
                cursor: pointer;
                font-size: 1rem;
                font-weight: 400;
                height: 2.5rem;
                letter-spacing: 0.5px;
                padding: 8px 10px;
                transition: all 0.3s ease 0s;
                min-width: 40rem;
                margin-bottom: 1rem;
              }
            }
      
              input:focus {
                border: 1px solid var(--secondary-color);
                outline: 1px solid var(--secondary-color);
              }

              button{
                position: absolute;
                bottom: 0;
              }
            }
          }
          }
    }
