@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,800;0,900;1,700&display=swap");

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Poppins, sans-serif;
    scroll-behavior: smooth;
    overflow-x: hidden;
}


:root {
    --primary-color: #2C2E43;
    --secondary-color: #FFD523;
    --tertiary-color: #474449;
    --error-color: crimson;
    --success-color: #00c21d;
    --background-light: whitesmoke;
  
  }

  .dark-mode:root {
    --primary-color: rgb(196, 204, 209);
    --background-light: #090a0f;

  }




*::-webkit-scrollbar {
    width: 8px;
    @media screen and (max-width: 480px) {
    display: none;
    }
  }
  
  *::-webkit-scrollbar-track {
    background-color: black;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: var(--secondary-color);
    border-radius: 100px;
  }